//<Шрифт по умолчанию>==========================================================================================
$fontfamily: "Montserrat";
//</Шрифт по умолчанию>==========================================================================================
//<ПЕРЕМЕННЫЕ>===========================================================================================================
$minwidth: 320px;
//$mw: 1144;
//$md1: $mw + 12;
//$md2: 991.98;
//$md3: 767.98;
//$md4: 479.98;
//</ПЕРЕМЕННЫЕ>===========================================================================================================
$colorBtn: #EA6B15;
$colorBtnhover: #FFB800;
$colorInputTest: #1983B4;
$colorTextTest: #BAECEB;
$colorText: #EDEDED;
$colorTextDark: #14252C;
//<ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>===============================================================================================

@import "null.scss";

body {
	color: $colorTextDark;
	font-size: 16px;
}

//</ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>===============================================================================================

//<ОБОЛОЧКА>===========================================================================================================
.wrapper {
	width: 100%;
	min-height: 100%;
	overflow: hidden;
}

//</ОБОЛОЧКА>===========================================================================================================

//<ОСНОВНАЯ СЕТКА>===========================================================================================================
.container {
	max-width: 1150px;
	margin: 0 auto;
	width: 100%;
	padding: 0 15px;

	//@media (max-width: $md1+px) {
	//	max-width: 970px;
	//}

	// @media (max-width: $md2+px) {
	// 	max-width: 750px;
	// }
	// @media (max-width: $md3+px) {
	// 	max-width: none;
	// 	padding: 0 10px;
	// }
}

//</ОСНОВНАЯ СЕТКА>===========================================================================================================

//<ПОДКЛЮЧЕНИЕ ФАЙЛОВ UI СТИЛЕЙ, ФОРМ И ГОТОВЫХ КЛАССОВ>=============================================================================================

//</ПОДКЛЮЧЕНИЕ ФАЙЛОВ UI СТИЛЕЙ, ФОРМ И ГОТОВЫХ КЛАССОВ>============================================================================================

//<ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ>====================================================================================================
@import "header.scss";
@import "footer.scss";
//</ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ>===================================================================================================

// Общие стили ====================================================================================================



// Общие стили ====================================================================================================


// ==================================================================================