//<Шрифт по умолчанию>==========================================================================================
$fontfamily: "Montserrat";
//</Шрифт по умолчанию>==========================================================================================
//<ПЕРЕМЕННЫЕ>===========================================================================================================
$minwidth: 320px;
//$mw: 1144;
//$md1: $mw + 12;
//$md2: 991.98;
//$md3: 767.98;
//$md4: 479.98;
//</ПЕРЕМЕННЫЕ>===========================================================================================================
$colorBtn: #EA6B15;
$colorBtnhover: #FFB800;
$colorInputTest: #1983B4;
$colorTextTest: #BAECEB;
$colorText: #EDEDED;
$colorTextDark: #000;
//<ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>===============================================================================================

@import "null.scss";

body {
	color: $colorTextDark;
	font-size: 16px;
}

//</ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>===============================================================================================

//<ОБОЛОЧКА>===========================================================================================================
.wrapper {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 100%;
	min-height: 100%;
	overflow: hidden;
}

.main {
	height: 100%;
}

//</ОБОЛОЧКА>===========================================================================================================

//<ОСНОВНАЯ СЕТКА>===========================================================================================================
.container {
	max-width: 1230px;
	margin: 0 auto;
	width: 100%;
	padding: 0 15px;

	//@media (max-width: $md1+px) {
	//	max-width: 970px;
	//}

	// @media (max-width: $md2+px) {
	// 	max-width: 750px;
	// }
	// @media (max-width: $md3+px) {
	// 	max-width: none;
	// 	padding: 0 10px;
	// }
}

//</ОСНОВНАЯ СЕТКА>===========================================================================================================

//<ПОДКЛЮЧЕНИЕ ФАЙЛОВ UI СТИЛЕЙ, ФОРМ И ГОТОВЫХ КЛАССОВ>=============================================================================================

//</ПОДКЛЮЧЕНИЕ ФАЙЛОВ UI СТИЛЕЙ, ФОРМ И ГОТОВЫХ КЛАССОВ>============================================================================================

//<ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ>====================================================================================================
@import "header.scss";
@import "footer.scss";
//</ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ>===================================================================================================

// Общие стили ====================================================================================================

.main {
	&__inputblock {
		margin: 0px 0px 60px 0px;
	}
}

.input {
	position: relative;
	text-align: center;

	&__link {
		height: 40px;
		border: 2px solid #2787F5;
		border-radius: 20px;
		font-size: 16px;
		font-weight: 500;
		letter-spacing: 0.96px;
		padding: 0px 20px;
		width: 777px;
	}

	&__submit {
		position: absolute;
		top: 0;
		right: 211px;
		height: 40px;
		border: 2px solid #2787F5;
		border-radius: 20px;
		background-color: #2787F5;
		text-transform: uppercase;
		font-weight: 500;
		letter-spacing: 0.96px;
		color: #fff;
		transition: all 0.3s;
		padding: 0px 30px;

		&:hover {
			background-color: #a4d5f1;
			color: #000;
		}
	}
}



// Общие стили ====================================================================================================

.albums {
	&__items {
		display: flex;
		align-items: start;
		justify-content: space-between;
		flex-wrap: wrap;
	}

	&__item {
		margin: 0px 50px 60px 0px;
	}
}

.item-albums {
	display: flex;
	align-items: center;

	&__left {
		margin: 0px 25px 0px 0px;
	}

	&__img {
		margin: 0px 0px 6px 0px;
		width: 150px;
		max-height: 150px;
		border-radius: 50px;

		img {
			width: 100%;
		}
	}

	&__name {
		color: #9D9D9D;
		text-align: center;
		font-weight: 500;
		letter-spacing: 0.96px;
		max-width: 150px;
	}

	&__count {
		display: flex;
		align-items: center;
		margin: 0px 0px 10px 0px;
	}

	&__text {
		font-weight: 500;
		letter-spacing: 0.96px;
		margin: 0px 20px 0px 0px;
	}

	&__numb {
		color: #9D9D9D;
		font-weight: 500;
		letter-spacing: 0.96px;
	}

	&__label {
		font-weight: 500;
		letter-spacing: 0.96px;
		margin: 0px 20px 0px 0px;
	}

	&__inp {
		max-width: 80px;
		border-bottom: 1px solid #195396;
		font-size: 16px;
		border-radius: 15px;
		font-weight: 500;
		text-align: center;
	}

	&__disk-item {
		margin: 10px 0px 0px 0px;

		&-text {
			color: #000;
			display: block;
			font-size: 12px;
			font-weight: 500;
			letter-spacing: 0.72px;
			padding: 7px 0px 6px 42px;
			background-image: url('/img/icon-disk.svg');
			background-position: center left;
			background-repeat: no-repeat;
			background-size: contain;
		}
	}

	&__submit {
		margin: 15px 0px 0px 0px;
	}

	&__path {
		text-transform: uppercase;
		font-size: 14px;
		font-weight: 500;
		letter-spacing: 0.84px;
		padding: 7px 25px 6px 25px;
		margin: 0px 20px 0px 0px;
		background-color: #DADADA;
		border-radius: 15px;
		border: 2px solid #9D9D9D;
		transition: all 0.3s;

		&:hover {
			background-color: #9D9D9D;
		}
	}

	&__save {
		text-transform: uppercase;
		color: #fff;
		font-size: 14px;
		font-weight: 700;
		letter-spacing: 0.84px;
		padding: 7px 18px 6px 18px;
		border-radius: 15px;
		border: 2px solid #195396;
		background: #2787F5;
		transition: all 0.3s;

		&:hover {
			background-color: #195396;
		}
	}
}

// ==================================================================================