<!DOCTYPE html>
<html lang="ru">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="css/style.css">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap" rel="stylesheet">
	<title>VKBackup</title>
</head>
<body>
	<div class="wrapper">
<header class="header">
	<div class="container">
		<div class="header__logo">
			<a href="#" class="header__logo-link">
				<img src="/img/logo.svg" alt="">
			</a>
		</div>
	</div>
	<div class="header__menu">
		<div class="container">
			<div class="header__menu-block">
				<nav class="menu">
					<ul class="menu__list">
						<li class="menu__item">
							<a href="#" class="menu__link">Фото</a>
						</li>
						<li class="menu__item">
							<a href="#" class="menu__link">Видео</a>
						</li>
						<li class="menu__item">
							<a href="#" class="menu__link">О нас</a>
						</li>
					</ul>
				</nav>
				<a href="#" class="login">Войти</a>
			</div>
		</div>
	</div>
</header>		<main class="main">
			<div class="container">
				<div class="main__inputblock">
					<form action="" class="input" method="POST">
						<input class="input__link" type="text" name="link" placeholder="Ссылка на учетную запись">
						<input class="input__submit" type="submit" value="поиск альбомов">
					</form>
				</div>
				<div class="main__albums">
					<div class="albums__items">
						<div class="albums__item item-albums">
							<div class="item-albums__left">
								<div class="item-albums__img">
									<img src="/img/img-bg-card-1.jpg" alt="">
								</div>
								<div class="item-albums__name">День Рождения</div>
							</div>
							<div class="item-albums__right">
								<div class="item-albums__count">
									<div class="item-albums__text">Количество фотографий:</div>
									<div class="item-albums__numb">72</div>
								</div>
								<form action="" method="post" class="item-albums__form">
									<label class="item-albums__label">Фотографии на скачивание:</label><input
										class="item-albums__inp" type="text" name="number">
									<div class="item-albums__disk-item">
										<a href="#" class="item-albums__disk-item-text">Скачать на Яндекс.Диск</a>
									</div>
									<div class="item-albums__submit">
										<input type="submit" class="item-albums__path" value="путь">
										<input type="submit" class="item-albums__save" value="скачать">
									</div>

								</form>
							</div>
						</div>
						<div class="albums__item item-albums">
							<div class="item-albums__left">
								<div class="item-albums__img">
									<img src="/img/img-bg-card-2.jpg" alt="">
								</div>
								<div class="item-albums__name">Свадьба Тани и Леши</div>
							</div>
							<div class="item-albums__right">
								<div class="item-albums__count">
									<div class="item-albums__text">Количество фотографий:</div>
									<div class="item-albums__numb">157</div>
								</div>
								<form action="" method="post" class="item-albums__form">
									<label class="item-albums__label">Фотографии на скачивание:</label><input
										class="item-albums__inp" type="text" name="number">
									<div class="item-albums__disk-item">
										<a href="#" class="item-albums__disk-item-text">Скачать на Яндекс.Диск</a>
									</div>
									<div class="item-albums__submit">
										<input type="submit" class="item-albums__path" value="путь">
										<input type="submit" class="item-albums__save" value="скачать">
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</main>
<footer class="footer">
	<div class="container">
		<div class="footer__text"><span>©</span> Сайт несет только информационный характер, все права сохранены за
			правообладателем
		</div>
	</div>
</footer>	</div>
	<script src="js/script.js"></script>
</body>

</html>